@font-face {
    font-family: "oldEnglish";
    src: url("../webfonts//old.otf");
}

:root{
    --progresscolor: var(--accent);
    --bordercolor: black;
    --border-radius: 0.375rem;
}
*, body{
    font-family: serif;
}
.main h1{
    font-family: "oldEnglish", sans-serif;
}
.clock{
font-size: x-large;
margin: 48px 0;
}
.clock .v {
border: 1px solid black;
padding: 16px 8px;
border-radius: .25rem;
}
.clock .t {
color: var(--accent);
}

.bar{
    width: 100%;
    height: 40px;
    border: solid var(--bordercolor) 1px;
    border-radius: var(--border-radius);
}
.progress{
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--progresscolor);
    height: 100%;
    width: 0%;
}
.year{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subbox {
    --size: 24px;
    border: 1px solid var(--bordercolor);
    border-radius: var(--border-radius);
    width: var(--size);
    height: var(--size);
    margin: 2px;
}

.subbox.passed {
    background-color: var(--progresscolor);
}