<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li>
                        <span class="opener">Projects</span>
                        <ul>
                            <li><a href="/#projects">All Projects</a></li>
                            <li><a href="/projects/asciicam">AsciiCam</a></li>
                            <li><a href="/projects/timeleft">TimeLeft</a></li>
                            <li><a href="/projects/markets101">Markets 101</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>

        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Achievements</h2>
                </header>
                <div class="mini-posts">
                    <article>
                        <a href="https://www.linkedin.com/posts/abhigyan-das-a77269179_satindiatopperformer-activity-6626063443973726209-dr65"
                        class="image"><img src="{{url_for('static', filename='images/sat.jpg')}}" alt="sat top performer" /></a>
                        <p><strong>SAT</strong> <br>Score: <strong>1470</strong>
                        <br>Secured <strong>99th</strong> percentile. <br>
                        Awarded <strong>SAT India Top Performer</strong> by CollegeBoard.
                        </p>
                    </article>
                    <article>
                        <a href="https://site.sunderbanspod.repl.co/" class="image">
                            <img src="{{url_for('static', filename='images/sunderbans.png')}}" alt="sunderbans web administrator" /></a>
                        <p><strong>Web Administrator</strong> for Sundarbans House of <strong>IIT Madras BSc Degree</strong> <br>
                            Part of <strong>Upper House Council</strong> in Student Body</p>
                    </article>
                    <article>
                        <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/treehouse/announcements" 
                        class="image"><img src="{{url_for('static', filename='images/treehouse.png')}}" alt="treehouse lead dev" /></a>
                        <p>
                            <strong>Lead Developer</strong> in <strong>Treehouse</strong> &mdash;
                            A student run announcement and information portal for IITM BSc Degree students.
                        </p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{{url_for('static', filename='images/cs50.jpg')}}" alt="cs50 puzzle day" /></a>
                        <p> <strong>CS50 Puzzle Day Champion</strong>
                            (CS50 Harvard University) Recognised for solving all challenges on
                            the global puzzle day organised by Harvard’s CS50. 2020</p>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{{url_for('static', filename='images/helsinki.jpg')}}" alt="elements of AI" /></a>
                        <p><strong>Elements of AI</strong>
                        (University of Helsinki) Awarded for completing credit eligible course on fundamentals of AI. 2020
                    </p>
                    </article>
                </div>
            </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>
                Interested in working together? Get in touch:
            </p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:abhigyandsa@gmail.com">abhigyandsa@gmail.com</a></li>
                <li class="icon solid fa-home"><a href="https://goo.gl/maps/jYrBKPCXtRHan3Lk9">
                    HIG(U) 14, Swaranika Co-operative Housing Society, <br>
                Sakuntala Park, Kolkata 700063</a> </li>
            </ul>
        </section>
    </div>
</div>